.request-bet
  .container
    .col-4
      div.time
        =bid.created_at.strftime('%Y.%m.%d %H:%M')
      div.name
        -if can? :read, bid.user
          =link_to profile_path(bid.user)
            h2 #{bid.user.company_name}
        -else
          h2 Поставщик #{provider_hide_id(bid.user.id) }
    .col-8
      div.price
        | #{bid.price}р
    .col-12
      -if can?(:bill, :invoice) and (@request.status == Request::STATUS_TYPES[1] or @request.status ==  Request::STATUS_TYPES[2]) and @request.manager_id == current_user.id and @request.closing_time < Time.current
        =link_to bill_path(bid), :id => "bill"
            button.registr-btn Выставить счет
