footer
  .container
    .col-12
      a.logo(href="/")
        = image_tag "white-logo.png"
    .navbar.col-12
      ul
        li
          =link_to "Новости", news_url
        li
          =link_to "О нас", about_url
        li
          =link_to 'Заявки', requests_path
        li
          =link_to "Архив", requests_archive_path
        li
          =link_to "Правила", rules_url
        li
          =link_to "Контакты", contact_url
    .copyr.col-12
      p  © CENASPROSA. Все права защищены. 2015 г.
