header
  .container
    .col-4.header-col
      a.logo(href="/")
        = image_tag "black-logo.png"

    .col-4.header-col
      .search-box
        =search_form_for Request.ransack(params[:q]), :html => {:class => "search"}  do |f|
          =f.text_field :name_cont, :placeholder => "поиск по наименованию товара"
          input type="submit" value="" src="assets/search-icon.png"
        .more-search
          =link_to search_modal_path, class: 'modal-trigger', data: {target: 'exp-search'}
            | расширеный поиск
    .col-4.header-col
      .login-box

        -unless user_signed_in?
          =link_to users_login_path, class: 'modal-trigger', data: {target: 'login'}
            button.login-btn Вход
          =link_to users_reg_path, class: 'modal-trigger', data: {target: 'reg'}
            button.registr-btn Регистрация
        -else
          -case current_user.role
            -when "provider"
              =link_to profile_path
                button.small-button.registr-btn Кабинет поставщика
            -when "costumer"
              =link_to profile_path
                button.small-button.registr-btn Кабинет заказчика
              -if user_signed_in? && current_user.status == 'active'
                =link_to new_request_path, class: 'modal-trigger', data: {target: 'add-bid'}
                  button.small-button.add-btn Добавить заявку
            -when "manager"
              =link_to profile_path
                button.small-button.registr-btn Кабинет менеджера
          =link_to destroy_user_session_path, :method => :delete
            button.small-button.login-btn Выход



    .col-12.header-col
      a.logo(href="/")
        = image_tag "black-logo.png"
  .navbar
    ul
      li
        =link_to "Новости", news_url
      li
        =link_to "О нас", about_url
      -if can?(:take, Request)
        li
          =link_to "Ожидают проверки", requests_await_path
      li
        =link_to "Заявки", requests_path
      li
        =link_to "Архив", requests_archive_path

      li
        =link_to "Правила", rules_url
      li
        =link_to "Контакты", contact_url
