.container
  table
    h1.table-heading Внимание! Оплата данного счета означает согласие с пользовательским соглашением.
    tr
      td(colspan="2")
        span.recipients-bank
          | Банк получателя
          br
          | АКБ "ГОРОД" ЗАО г.МОСКВА

      td
        | БИК
        br
        span.bordertop
          | Сч. №
      td
        | 044579571
        br
        | 30101810500000000571
    tr
      td
        | ИНН
        span.inn<
          | 5047149566
      td
        | КПП
        span.kpp<
          | 504701001
      td(rowspan="2")
        | Сч. №
      td(rowspan="2")
        | 40702810800010002550
    tr
      td(colspan="2")
        span.recipient
        | Получатель
        br
        | ООО "Гольфстрим"

    / tr
    /   td(colspan="4")
    /     | Счет No 11 от 11.11.2011
  h3.table-heading
    | Счет № #{@request.id} от
    span<
      = Time.current.strftime('%d.%m.%Y')
  table
    tr style="height: 80px"
      td.bordernone
        | Провайдер:
      td.bordernone(colspan="5")
        | ИНН
        span
          | &nbsp5047149566&nbsp
        | КПП
        | &nbsp504701001 Общество с ограниченной ответственностью "Гольфстрим", ООО "Гольфстрим" Россия, 141730, Московская область, г. Лобня, ул. Фестивальная, д. 8, корп.2, тел. 8(495)795-40-33

    tr style="height: 80px"
      td.bordernone
        | Пользователь:
      td.bordernone(colspan="5")
        | ИНН
        span<
          | #{@provider.inn}&nbsp
        | КПП
        span<
          | #{@provider.kpp} #{@provider.company_name} #{@provider.post_index} #{@provider.ur_adress}, тел. #{@provider.contact_phone} #{@provider.fio_contact}, #{@provider.email_contact}

    tr.heading-tr
      td
        | №
      td
        | Товар
      td
        | Кол-во
      td
        | Ед.
      td
        | Цена, в руб.
      td
        | Сумма, в руб.
    tr
      td
        | 1
      td
        | Оплата за информационные услуги по заявке
        span<
          | № #{@request.id}
      td
        | 1
      td
        | шт
      td
        = @price
      td
        = @price

  p.right-par
    | Итого:
    span<
      = @price
    br
    | В том числе НДС:
    span<
      = @nds
  p.left-par
    | Всего наименований 1, на сумму
    span<
      = @price
    br
    span<
      | #{RuPropisju.rublej(@price)}&nbsp00 копеек
  p
    | Руководитель  _________ (А.А. Смирнов)
    span.buh
      | Бухгалтер _________ (А.А. Смирнов)
