=semantic_form_for User.new, url: { action: "create", :controller=>"sessions"}, remote: true, :html => {:id => 'login_user',:class => "exp-search-form",role: :form, 'data-model' => 'user', :'data-type' => 'json'} do |f|
  .col-modal
    =f.input :username, label: "Логин для входа", :as => :string
    =f.input :password,      label: "Пароль", :as => :password
    = link_to "Забыли пароль?", users_new_password_path, :class => "login-link modal-trigger",data: {target: 'new-password'}

  .exp-search-btn-block
    =f.button 'Войти', :class =>'modal-btn'
