=semantic_form_for User.new, url: '/users/password', remote: true, :html => {:id => 'new_password_user',:class => "exp-search-form",role: :form, 'data-model' => 'user', :'data-type' => 'json'} do |f|
  .col-modal
    =f.input :email_contact, label: "Email контактного лица", :as => :string
    =f.input :remember_word, label: "Проверочное слово", :as => :string
  .exp-search-btn-block
    =f.button 'Восстановить', :class =>'modal-btn'
