=semantic_form_for User.new, url: registration_path(:user), remote: true, :html => {:class => "exp-search-form",role: :form, 'data-model' => 'user',:'data-type' => 'json'} do |f|
  .col-modal.payment-block.provider-block
    .payment-block-item.tax-block-item
      =f.input :role, :as => :radio, :collection => {User::REGISTRATION_ROLES_LABELS[0] => User::REGISTRATION_ROLES[0]},:label => false
    .payment-block-item.tax-block-item
      =f.input :role, :as => :radio, :collection => {User::REGISTRATION_ROLES_LABELS[1] => User::REGISTRATION_ROLES[1]},:label => false
  .col-modal
    =f.input :company_name,  label: "Название организации"
    =f.input :company_phone, label: "Контактный телефон организации", :as => :string
    =f.input :email_company, label: "Email организации", :as => :string
    =f.input :ur_adress,     label: "Юридический адрес организации", :as => :string
    =f.input :fis_adress,    label: "Фактический адрес организации", :as => :string
    =f.input :inn,           label: "ИНН Организации", :as => :string
    =f.input :kpp,           label: "КПП Организации", :as => :string
    =f.input :post_index,    label: "Почтовый индекс", :as => :string
  .col-modal
    =f.input :fio_contact,   label: "ФИО контактного лица", :as => :string
    =f.input :contact_phone, label: "Телефон контактного лица", :as => :string
    =f.input :email_contact, label: "Email контактного лица", :as => :string
    =f.input :username,      label: "Логин для входа", :as => :string
    =f.input :password,      label: "Пароль", :as => :password
    =f.input :password_confirmation, label: "Подтвердить пароль", :as => :password
    =f.input :remember_word,       label: "Проверочное слово", :as => :string
    =link_to "Пользовательское соглашение", dogovor_path, :target => "_blank"
    =f.input :terms,          label: "Я принимаю условия соглашения", :as => :boolean
  .exp-search-btn-block
    =f.button 'Зарегестрироваться', :class =>'modal-btn'
