== render 'partials/header'
  =@user.company_name
.section.profile
  =render 'users/tabs/provider'
  .content-block
    .container
      .col-12
        h1 =@user.company_name
    -@bids.each do |bid|
      ==render bid.request


== render 'partials/footer'
