== render 'partials/header'
  =@user.company_name
.section.profile
  -case @user.role
    -when "provider"
      =render 'users/tabs/provider'
    -when "costumer"
      =render 'users/tabs/costumer'
    -when "manager"
      =render 'users/tabs/manager'

  .content-block
    .container
      .col-12
        h1 =@user.company_name
      .col-4.request-item.request-item-timings

        p.open-time
          span Телефон организации:&nbsp <br>
          span =@user.company_phone
        p.options
          span Email организации:&nbsp <br>
          span =@user.email_company

      .col-4.request-item.request-solo-item-options
        p.delivery-date
          span Юридический адрес организации:&nbsp <br>
          span =@user.ur_adress
        p.delivery-date
          span Фактический адрес организации:&nbsp <br>
          span =@user.fis_adress
        p.pay-var.request-solo-item-option
          span Инн организации:&nbsp <br>
          span =@user.inn
      .col-4.request-item.request-item-ship-options
        p.delivery-date
          span ФИО контактного лица:&nbsp <br>
          span =@user.fio_contact
        p.delivery-date
          span Тел. контактного лица:&nbsp <br>
          span =@user.contact_phone
        p.delivery-date
          span Email контактного лица:&nbsp <br>
          span =@user.email_contact
== render 'partials/footer'
