== render 'partials/header'
  =@user.company_name
.section.profile
  -case @user.role
    -when "provider"
      =render 'users/tabs/provider'
    -when "costumer"
      =render 'users/tabs/costumer'
    -when "manager"
      =render 'users/tabs/manager'
  .content-block
    .container
      .col-12
        h1 =@user.company_name
    ==render @requests
== render 'partials/footer'
