<%= render "partials/header" %>
<div style="width: 400px;
  margin: 0 auto 60px auto;">
<h2>Сменить пароль</h2>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "exp-search-form" }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "Новый пароль" %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Подтвердить пароль" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Сохранить" %>
  </div>
<% end %>
</div>
<%= render "partials/footer" %>
