.container
  h1.profile-heading Личный кабинет менеджера
  .tab-block
    ul
      li
        =link_to('Контактная информация', profile_path(@user), :class => 'tab')
      li
        =link_to('Архив заявок', profile_managed_path(:type => 'archived'), :class => 'tab')
      li
        =link_to('Активные заявки', profile_managed_path(:type => 'active'), :class => 'tab')
