.container
  h1.profile-heading Личный кабинет поставщика
  .tab-block
    ul
      li
        =link_to('Контактная информация', profile_path(@user), :class => 'tab')
      li
        =link_to('Архив заявок', profile_bids_path(:type => 'archived', :id => @user.id), :class => 'tab')
      li
        =link_to('Активные заявки', profile_bids_path(:type => 'active', :id => @user.id), :class => 'tab')
