=semantic_form_for @request ||= Request.new, remote: true, :html => {:class => "exp-search-form",role: :form, 'data-model' => 'request',:'data-type' => 'json', :enctype => "multipart/form-data"} do |f|
  .form-cover
  .col-modal.payment-block style="padding-bottom: 210px"
    =f.input :name,  label: "Наименование"
    =f.input :section,  label: "Раздел", input_html: { data: { load: "request_category" }, id: "request_category" }
    =f.input :category_id, :as => :hidden, input_html: { id: "request_category_id"  }
    =f.input :closing_time,  label: "Дата и время закрытия заявки", as: :datetimepicker

    .modal-list.section-list(data-target="request_category")
      .close-btn
        | x
      .category-block
        .container
          .col-12
            .category-item
              -Category.roots.each do |root|
                h4.category-header #{root.name}
                -root.children.each do |child|
                  div.category-item-heading
                   =child.name
                  div.exp-content
                    ul.choose-cat
                      -child.children.each do |subchild|
                        -leaves = subchild.children
                        -if leaves.to_a.empty?
                          li
                            a href="#" data-category-id="#{subchild.id}"
                              =subchild.name
                        -else
                          li
                            =subchild.name
                            ul.exp-list
                              -leaves.each do |leave|
                                li
                                  a href="#" data-category-id="#{leave.id}"
                                    =leave.name
    .modal-list.city-list(data-target="request_city")
      .close-btn
        | x
      .category-block
        .container
          .col-12
            .category-item
              -City.all.each do |city|
                p
                  a href="@" data-city-id="#{city.id}" #{city.name}


    =f.input :city,  label: "Город поставки", input_html: { data: { load: "request_city" } }
    =f.input :delivery_time,  label: "Дата поставки", as: :datetimepicker, :input_html => { :class => "no-time" }

    =f.input :temp_key, as: "hidden", input_html:{:value => temp_key}

  .col-modal.payment-block
    label for="password"
      | Подробное описание товара или услуги<br>
    =f.text_area :description,  label: "Описание товара услуги", :size => "30x4"
    =f.input :price, label: "Цена"


    h5
      | Условия оплаты
    .payment-block-item
      =f.input :payment_term, :as => :radio, :collection => {Request::PAYMENT_LABELS[0] => Request::PAYMENT_TYPES[0]},:label => false
    .payment-block-item
      =f.input :payment_term, :as => :radio, :collection => {Request::PAYMENT_LABELS[1] => Request::PAYMENT_TYPES[1]},:label => false
    .payment-block-item
      =f.input :payment_term, :as => :radio, :collection => {Request::PAYMENT_LABELS[2] => Request::PAYMENT_TYPES[2]},:label => false, :wrapper_html => { :class => "show-payment-desc" }
    =f.text_area :payment_desc,  label: "Описание улосвий оплаты", :size => "30x4"
    h5
      | Доставка
    .payment-block-item.ship-block-item
      =f.input :delivery_term, :as => :radio, :collection => {"С доставкой" => true},:label => false
    .payment-block-item.ship-block-item
      =f.input :delivery_term, :as => :radio, :collection => {"Без доставки" => false},:label => false
    h5
      | НДС
    .payment-block-item.tax-block-item
      =f.input :nds, :as => :radio, :collection => {"С НДС" => true},:label => false
    .payment-block-item.tax-block-item
      =f.input :nds, :as => :radio, :collection => {"Без НДС" => false},:label => false
  .exp-search-btn-block
    =f.button 'Сохранить', :class =>'modal-btn'
=semantic_form_for Document.new,:url => documents_create_path(temp_key: @temp_key), :html => {:class => "dropzone default-dropzone", :id => "dropzone"}
  input name="file" type="file" multiple=""
  .help-block

div#saved_files style="display: none"
  -if @request
    -@request.documents.each do |document|
      -if ["png","jpg","jpeg"].include? get_extension(document.file_url)
        div.saved_files data-name="#{document.file_url.split('/').pop()}" data-filetype="image" data-id="#{document.id}" data-src="#{document.file_url}" data-filesize="#{document.file.size}"
      -else
        div.saved_files data-name="#{document.file_url.split('/').pop()}" data-filetype="file" data-id="#{document.id}" data-filesize="#{document.file.size}"
