=link_to request_path(request), :class => 'request-item-block'
  .container
    .col-4.request-item.request-item-options
      h1 =request.name
      p.open-time
        span Открытие заявки:&nbsp
        span =request.created_at.strftime('%Y.%m.%d %H:%M')
      p.options
        span Варианты оплаты:&nbsp
        span =request.get_payment_term
    .col-4.request-item.request-item-address
      p.close-time
        span Закрытие заявки:&nbsp
        span =request.closing_time.strftime('%Y.%m.%d %H:%M')
      p.city
        span Город:&nbsp
        span =request.city
      p.tax
        span С НДС или без:&nbsp
        span =request.get_nds
    .col-4.request-item.request-item-ship-options
      h1 Заявка №#{request.id}
      - unless request.delivery_time.blank?
        p.open-time
          span Дата поставки:&nbsp
          span =request.delivery_time.strftime('%Y.%m.%d %H:%M')
      p.options
        span Доставка:&nbsp
        span =request.get_delivery_term
      -unless request.price.blank?
        p.price
          | #{request.price}p
