=search_form_for @q, url: {:controller => 'requests', :action => controller.action_name}, :html => {:class => "set-request"}  do |f|
  .req-field-block.col-12
    div.req-field
      label for="request-id"
       | Номер заявки <br>
      =f.text_field :id_eq
    div.req-field
      =f.label :name_cont,  "Наименование товара"
      =f.text_field :name_cont

    div.req-field
      =f.label :delivery_time,  "Дата поставки"
      =f.text_field :delivery_time, :class => "datetimepicker no-time"
    div.req-field
      label for="request-open-date"
        | Дата открытия заявки <br>
      =f.text_field :created_at_cont, :class => "datetimepicker", :id => "request-open-date"
    / div.req-field
    /   =f.label :price_lteq,  "Цена"
    /   =f.range_field :price_lteq, :within => 0..100000, step: 0.5, :id => "price_lteq"

    div.req-field
      =f.label :closing_time_eq,  "Дата закрытия заявки"
      =f.text_field :closing_time_eq, :class => "datetimepicker"

    div.req-field
      =f.label :payment_term_eq,  "Варианты оплаты"
      =f.select(:payment_term_eq,  options_for_select(Request::payment_term_options), :id => "request-payment-options", include_blank: true)

    div.req-field
      =f.label :city_cont,  "Город поставки"
      =f.collection_select :city_cont, City.all, :name, :name, {include_blank: true},{:id => "request-city-send"}
    div.req-field
      =f.label :delivery_term_eq,  "Доставка"
      =f.select :delivery_term_eq,  options_for_select([['С доставкой', true], ['Без доставки', false]]), {:prompt => ""},  :selected => params[:q].try(:[], :delivery_term_eq), :id => "request-delivery-options"
    div.req-field
      =f.label :nds_eq,  "НДС"
      =f.select :nds_eq, options_for_select([['С НДС', true], ['Без НДС', false]]), {:prompt => ""}, {:selected => params[:q].try(:[], :nds_eq), id: "request-nds"}
    -if can? :see_details, Request
      div.req-field
        =f.label :status_eq,  "Статус"
        =f.select(:status_eq,  options_for_select(Request::status_options), :id => "request-payment-options", include_blank: true )
      div.req-field
        =f.label :manager_id_eq,  "Менеджер"
        =f.collection_select :manager_id_eq, User.where(:role => 'manager'), :id, :fio_contact, {include_blank: true}

  =f.submit("Поиск", :class => "req-field-btn")
