.solo-request
  .container
    .col-4.request-item.request-item-timings
      h1
        =request.name
        -unless request.file.url.blank?
          =link_to request.file.url, :target => "_blank", :title => "Посмотреть вложение"
            =image_tag "screpka.png", :class => 'attach-icon'
      p.open-time
        span Открытие заявки:&nbsp
        span =request.created_at.strftime('%Y.%m.%d %H:%M')
      p.open-time
        span Закрытие заявки:&nbsp
        span =request.closing_time.strftime('%Y.%m.%d %H:%M')
      -unless request.delivery_time == nil
        p.delivery-date
          span Дата поставки:&nbsp
          span =request.delivery_time.strftime('%Y.%m.%d %H:%M')
        p.options
          span Варианты оплаты:&nbsp
          span =request.get_payment_term
      -if can? :see_details,@request
        p.options
          span Отправил:&nbsp
          =link_to profile_path(request.user)
            span =request.user.company_name
        p.options
          span Статус:&nbsp
          -if request.status == 'active' and request.closing_time < Time.current
            span Окончена по времени
          -else
            span =request.get_status
        p.options
          span Менеджер:&nbsp
          -if request.manager
            span =request.manager.fio_contact
          -else
            span Неназначен
    .col-4.request-item.request-solo-item-options
      p.city.request-solo-item-option
        span #{request.city}&nbsp
      p.tax.request-solo-item-option
        span =request.get_nds
      p.delivery.request-solo-item-option
        span =request.get_delivery_term
      p.options
        span Вложения:&nbsp
        -request.documents.each do |document|
          .document-preview
            -if ["png","jpg","jpeg"].include? get_extension(document.file_url)
              =link_to documents_show_path(document), class: 'modal-trigger', data: {target: "image#{document.id}"}
                .document-image
                  =image_tag document.file_url
            -else
              =link_to document.file_url, :target => "_blank"
                .document-image
                  .dz-filename
                    span ОТКРЫТЬ
    .col-4.request-item.request-item-ship-options
      h1 Заявка №#{request.id}
      p.start-price
        span Начальная цена&nbsp
        span.price #{request.price}р
      p.minimal-price
        span Минимальная цена&nbsp
        span.price #{request.minimum_price}р
    .col-12.request-item.request-item-timings
      -if request.payment_term == Request::PAYMENT_TYPES[2]
        p.options
          span Условия оплаты:&nbsp
          span =request.payment_desc
      -unless request.description.blank?
        p.options
          span Описание:&nbsp
          span =request.description
    -if user_signed_in?
      .col-12.add-price-cont
        -if @request.price.blank? && current_user.status == 'active' && current_user.role != 'manager'
            =semantic_form_for @request,url: addMinimumPrice_path(@request),:remote => true, :html => {:id => 'add_minimum_price',role: :form, 'data-model' => 'request', :'data-type' => 'json'} do |f|
              p введите цену:
              li style="display: inline-block; width: 190px"
                input type="text" name="request[price]"
              button.login-btn style="display: vertical-align: bottom" Добавить цену
        -else
          -if can?(:create, Bid) && (@request.bids.last.nil? || @request.bids.last.user_id != current_user.id) && @request.status == 'active' && @request.closing_time > Time.current && current_user.status == 'active' && !@request.price.blank?
            =semantic_form_for Bid.new, :remote => true, :html => {:id => 'new_bid',role: :form, 'data-model' => 'bid'} do |f|

                =f.input :request_id, :as => :hidden, :input_html => { :value => @request.id }
                button.login-btn Цена -1%
        -if can? :destroy, @request
          =link_to request_path(@request), :method => :delete
            button.registr-btn Удалить
        -if can? :take, @request
          =link_to request_take_path(@request)
            button.add-btn Взять заявку
        -if can? :refused, @request
          =link_to request_refused_path(@request)
            button.registr-btn Отказ от оплаты
        -if (can?(:close, @request)) && (@request.closing_time < Time.current)
          =link_to request_close_path(@request)
            button.registr-btn Закрыть заявку
        -if can? :payed, @request
          =link_to request_payed_path(@request)
            button.login-btn Счет оплачен
        -if can? :update, @request
          =link_to edit_request_path, class: 'modal-trigger', data: {target: 'add-bid'}
            button.add-btn Редактировать заявку
