== render 'partials/header'
=  render 'requests/solo_request', :request => @request
.bids-cont
  -reset_id()
  =render @request.bids, :request => @request
.closed-cont
  -if @request.closing_time < Time.current and user_signed_in? and (@request.status != Request::STATUS_TYPES[3] or @request.status != Request::STATUS_TYPES[4])
    -if current_user.id == @request.user_id
      h1 Время заявки истелко. Ожидайте, с вами свяжется менеджер
    -elsif current_user.role == 'provider' or current_user.role == 'client'
      h1 Время заявки истелко.
.container
  =link_to 'Перейти к списку заявок', requests_path, :class => 'to-all-req'


== render 'partials/footer'
