== render 'partials/header'
.container.main-container.contact-cont
  = @page.text.html_safe
  -if controller.action_name == 'contact'
    h2 Форма обратной связи
    =semantic_form_for ContactUs::Contact.new,:remote => true, :url => contacts_path, :html => {:class => "exp-search-form",role: :form, 'data-model' => 'contact_us_contact',:'data-type' => 'json'} do |f|
      .col-modal
        =f.input :name, :label => "Имя" if ContactUs.require_name
        =f.input :email, :label => "Email"
        =f.input :subject, :label => "Телефон" if ContactUs.require_subject
        =f.input :message, :as => :text, :label => "Текст обращения"
        =f.action :submit, :as => :button, :label => "Отправить", :button_html => { :class => "login-btn"}
        h2 Контактный телефон
        h2 8-495-795-40-33
== render 'partials/footer'

.remodal data-remodal-id="contact-success"
  h1 Ваше обращение успешно отправлено. В ближайшее время с Вами свяжется администрация портала Цена Спроса.
