h1 Заявка №#{@request.id} проверена
p
  | Ваша заявка одобрена менеджером, ей присвоен номер №#{@request.id}, для просмотра перейдите по #{link_to 'ссылке',request_url(@request)}. Теперь по Вашей заявке возможно изменение цены.
