.remodal data-remodal-id="exp-search"
  h1 Расширенный поиск
  =search_form_for Request.ransack(params[:q]), :html => {:class => "exp-search-form"}  do |f|
    .col-modal
      =f.label :name_cont,  "Наименование"
      =f.text_field :name_cont
      =f.label :section_cont,  "Раздел"
      =f.text_field :section_cont, data: { load: "request_category" }, id: "request_category"
      .modal-list.section-list(data-target="request_category")
        .close-btn
          | x
        .category-block
          .container
            .col-12
              .category-item
                -Category.roots.each do |root|
                  h4.category-header #{root.name}
                  -root.children.each do |child|
                    div.category-item-heading
                     =child.name
                    div.exp-content
                      ul.choose-cat
                        -child.children.each do |subchild|
                          -leaves = subchild.children
                          -if leaves.to_a.empty?
                            li
                              a href="#" data-category-id="#{subchild.id}"
                                =subchild.name
                          -else
                            li
                              =subchild.name
                              ul.exp-list
                                -leaves.each do |leave|
                                  li
                                    a href="#" data-category-id="#{leave.id}"
                                      =leave.name

    .col-modal
      label for="desc"
        | Подробное описание товара или услуги <br>
      textarea id="desc" name="" cols="30" rows="5"
    .col-modal
      =f.label :created_at_eq,  " По дате и времени открытия заявки"
      =f.text_field :created_at_eq, as: :datetimepicker, :class => "datetimepicker"
      =f.label :closing_time_eq,  " По дате и времени закрытия заявки"
      =f.text_field :closing_time_eq, as: :datetimepicker, :class => "datetimepicker"
    .col-modal
      =f.label :city_cont,  "Город поставки"
      =f.collection_select :city_cont, City.all, :name, :name, {include_blank: true},{class: 'default'}
      =f.label :delivery_time_eq,  "Дата поставки"
      =f.text_field :delivery_time_eq, as: :datetimepicker, :class => "datetimepicker no-time"
    .col-modal.payment-block
      label
        | Условия оплаты
      .payment-block-item
        =f.radio_button :payment_term_eq, '100', :checked => false
        =f.label :payment_term_eq, '100%'
      .payment-block-item
        =f.radio_button :payment_term_eq, '50', :checked => false
        =f.label :payment_term_eq, '50%/50%'
      .payment-block-item
        =f.radio_button :payment_term_eq, 'contract', :checked => false
        =f.label :payment_term_eq, 'Договорная'
    .col-modal.payment-block
      label
        | Доставка
      .payment-block-item.ship-block-item
        =f.radio_button :delivery_term_eq, true, :checked => false
        =f.label :delivery_term_eq, 'С доставкой'
      .payment-block-item.ship-block-item
        =f.radio_button :delivery_term_eq, false, :checked => false
        =f.label :delivery_term_eq, 'Без доставки'
    .col-modal.payment-block
      label
        | НДС
      .payment-block-item.tax-block-item
        =f.radio_button :nds_eq, true, :checked => false
        =f.label :delivery_term_eq, ' С НДС'
      .payment-block-item.tax-block-item
        =f.radio_button :nds_eq, false, :checked => false
        =f.label :delivery_term_eq, 'Без НДС'

    =f.button("Искать", :class => "exp-search-btn-block login-btn")
