.container
  +outer-container
  max-width: 960px
  min-width: 960px
  .col-12
    +span-columns(12)
    +omega
  .col-6
    +span-columns(6)
    +omega
  .col-4
    +span-columns(4)
    +omega
  .col-3
    +span-columns(3)
    +omega

.navbar
  +span-columns(12)

.hide
  display: none !important

.show
  display: block !important

select
  color: #000 !important

a
  outline: none !important

p.right-par
  text-align: right

p.left-par
  border-bottom: 1px solid black
  padding-bottom: 30px
span.buh
  padding-left: 10px
span
  font-weight: 100
h1.table-heading
  font-size: 14px
  text-align: center

tr.heading-tr
  font-size: 20px
  text-align: center

h3.table-heading
  border-bottom: 1px solid black
  padding-bottom: 30px

td.bordernone
  border: none

td
  border: 1px solid black
  font-family: "PT Sans regular"

button
  outline: none
  border: none
  border-radius: 4px
  color: #fff
  margin-left: 9px
  padding-top: 4px
  padding-left: 25px
  padding-right: 25px
  height: 40px
  &.small-button
    padding-left: 15px
    padding-right: 15px
    font-size: 14px
    height: 29px

button.modal-btn,
button.add-btn,
button.login-btn
  background-color: $main-blue
  border-bottom: 4px solid $sub-blue
  &:hover
    +filter(grayscale(100%))


button.registr-btn
  background-color: $main-orange
  border-bottom: 4px solid $sub-orange
  margin-bottom: 8px
  &:hover
    +filter(grayscale(100%))

button.add-btn
  background-color: $main-green
  border-bottom: 4px solid $sub-green
.has-error
  &.choice
    color: red !important
  input, textarea
    border: 1px solid red !important

form .help-block
  text-align: center
  color: red

body
  position: relative
  padding-bottom: 185px
  min-height: 100%
header
  padding-top: 40px
  height: 174px
  .header-col
    min-width: 319px
  .col-12.header-col
    display: none
  form.search
    input[type="text"]
      +transition(all 0.25s ease)
      float: left
      background-color: #e2e2e2
      border: none
      border-radius: 4px 0px 0px 4px
      height: 40px
      width: 80%
      padding-left: 12px
      outline: none
    input[type="text"]:focus::-webkit-input-placeholder
      color: #e2e2e2
    input[type="text"]:focus::-moz-placeholder
      color: #e2e2e2
    input[type="text"]:focus:-moz-placeholder
      color: #e2e2e2
    input[type="text"]:focus:-ms-input-placeholder
      color: #e2e2e2
    input[placeholder]
      text-overflow: ellipsis
      font-size: 14px
    input::-moz-placeholder
      text-overflow: ellipsis
      font-size: 14px
    input:-moz-placeholder
      text-overflow: ellipsis
      font-size: 14px
    input:-ms-input-placeholder
      text-overflow: ellipsis
      font-size: 14px
    input[type="submit"]
      background-image: url(asset-path("search-icon.png"))
      background-repeat: no-repeat
      background-position: center
      border: none
      border-radius: 0px 4px 4px 0px
      width: 40px
      height: 40px
      background-color: $main-blue
  .more-search
    font-size: 14px
    a
      color: #444444
      &:visited
        color: #444444
  .login-box
    text-align: right
  .navbar
    background-color: #2c2c2c
    color: #fff
    border-bottom: 3px solid $main-blue
    margin-top: 8px
    min-width: 960px
    ul
      text-align: center
      font-size: 17px
      li
        display: inline
        a
          text-decoration: none
          text-transform: uppercase
          padding: 17px 31px 18px 29px
          letter-spacing: 0.3px
          color: #fff
          outline: none
          &:hover
            background-color: $main-blue
          &:visited
            color: #fff

footer
  text-align: center
  background-color: #2c2c2c
  color: #fff
  min-width: 960px
  position: absolute
  bottom: 0
  width: 100%
  .logo
    padding-top: 24px
    padding-bottom: 10px
  .navbar
    ul
      text-align: center
      font-size: 16px
      li
        display: inline
        outline: none
        a
          text-decoration: none
          padding: 8px 32px 8px 13px
          letter-spacing: 0.3px
          color: #fff
          text-transform: uppercase
          outline: none
          &:hover
            text-decoration: underline
          &:visited
            color: #fff

@media print
  header
    .col-12
      display: block
      text-align: center
    .col-4
      display: none
  footer
    display: none


.xdsoft_datetimepicker
  z-index: 11111111 !important

.logo
  display: block

.modal-list
  position: absolute
  background: #eee
  padding: 10px
  left: -300%
  height: 490px
  width: 330px
  overflow-y: scroll
  border: 1px solid #ddd
  border-radius: 4px
  .close-btn
    height: 20px
    width: 20px
    float: right
    cursor: pointer
    color: #AAAAAA
    font-size: 2.22222rem
    font-weight: bold
    z-index: 100
    position: relative
    top: -15px
  .container
    min-width: 300px !important
    max-width: 300px !important
  ul
    padding-left: 0
    text-align: left
.modal-list.visible
  left: 50%
  top: 0px
  .category-block
    min-height: 0
    width: 300px
    .main-heading
      display: inline-block
      position: relative
      &:after, &:before
        left: 100%
        top: 50%
        border: solid transparent
        content: " "
        height: 0
        width: 0
        position: absolute
        pointer-events: none
      &:after
        border-color: rgba(136, 183, 213, 0)
        border-left-color: $main-blue
        border-width: 26px
        margin-top: -26px
      h1
        background-color: $main-blue
        padding-left: 10px
        padding-top: 5px
        padding-bottom: 5px
        color: #fff

  .category-item
    .category-item-heading
      margin: 0
      color: $main-blue
      text-decoration: underline
      font-size: 16px
      cursor: pointer
    .exp-content
      display: none
      ul
        // padding-left: 0
      li
        list-style: none
        &:hover
          cursor: pointer
          color: $main-blue
        ul
          padding-left: 14px
          margin-top: 4px
          display: none
          li
            list-style-type: square
            font-size: 14px
        a
          color: black
          &:active
            color: black


.choices-group, .boolean
  padding-left: 0px
  margin-bottom: 10px
  margin-top: 6px
  input[type="checkbox"]
    margin-right: 10px

select.default
  width: 100%
  border-radius: 4px
  border: 1px solid #c4c4c4
  height: 29px
  outline: none
  background-image: url(asset-path("select-btn.png"))
  background-repeat: no-repeat
  background-position: center right
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  cursor: pointer
  color: #000
  font-style: italic
  font-size: 15px
  option
    color: #000
    font-style: italic

.login-link
  text-align: center
  display: block
  color: #000
  margin-bottom: 10px

abbr[title="required"]
  display: none
