$main-blue:  #1897cd
$sub-blue:   #0e80b0
$main-orange:#ff8226
$sub-orange: #e5711b
$req-grey:   #e9e9e9
$main-green: #5acb91
$sub-green:  #30b872

@font-face
  font-family: 'PT Sans regular'
  src: font-url("PTC55F_W.eot")
  src: font-url("PTC55F_W.eot?#iefix") format("embedded-opentype"), font-url("PTC55F_W.woff") format("woff"), font-url("PTC55F_W.ttf") format("truetype"), font-url("PTC55F_W.svg#PTSans-Regular") format("svg")
