.breadcrumbs
  background-color: #f3f3f3
  min-width: 960px
  ul
    margin-top: 0
    margin-bottom: 0
    padding-left: 0
    li
      display: inline
      &:first-child
        a
          padding-left: 0px
      a
        text-transform: uppercase
        color: black
        text-decoration: none
        display: inline-block
        padding: 10px 40px 13px 15px
        background-image: url(asset-path("breadcrumb-arrow.png"))
        background-repeat: no-repeat
        background-position: right
