.category-block
  min-height: 580px
  .main-heading
    display: inline-block
    position: relative
    &:after, &:before
      left: 100%
      top: 50%
      border: solid transparent
      content: " "
      height: 0
      width: 0
      position: absolute
      pointer-events: none
    &:after
      border-color: rgba(136, 183, 213, 0)
      border-left-color: $main-blue
      border-width: 26px
      margin-top: -26px
    h1
      text-transform: uppercase
      background-color: $main-blue
      padding-left: 10px
      padding-top: 5px
      padding-bottom: 5px
      color: #fff

.category-item
  .category-item-heading
    margin: 0
    color: $main-blue
    text-decoration: underline
    font-size: 25px
    cursor: pointer
    a
      color: $main-blue !important
  .exp-content
    display: none
    margin-left: 20px
    ul
      padding-left: 0
      margin-top: 5px
    li
      list-style-type: none !important
      a
        color: black
        &:active
          color: black
