.dropzone.default-dropzone
  .help-block
    position: absolute
    top: 200px
    width: 280px
    left: 0px
    text-align: center
    padding: 0px 40px
  input[type='file']
    display: none
  position: absolute
  top: 459px
  left: 44px
  border-width: 1px
  width: 285px
  .dz-preview
    min-height: auto
    margin: 6px
    .dz-progress
      width: 60px
      margin-left: -30px
    .dz-image
      border-radius: 8px
      overflow: hidden
      width: 66px
      height: 66px
      position: relative
      display: block
      z-index: 10
      background: #999999
      img
        display: block
        position: absolute
        max-height: 100%
        top: 50%
        left: 50%
        -webkit-transform: translateX(-50%) translateY(-50%)
        -moz-transform: translateX(-50%) translateY(-50%)
        -ms-transform: translateX(-50%) translateY(-50%)
        -o-transform: translateX(-50%) translateY(-50%)
        transform: translateX(-50%) translateY(-50%)
    .dz-error-message
      // opacity: 1 !important
      top: 70px
      left: -40px
    .dz-details
      padding: 10px 5px
      .dz-size
        font-size: 12px
        margin-top: 14px
        text-align: center
        margin-left: 6px
      .dz-filename
        font-size: 8px
        display: none
    .dz-remove
      width: 20px
      height: 20px
      position: absolute
      right: -7px
      top: -7px
      background: image-url('close_3.png') center center
      background-size: 100%
      z-index: 20

.dropzone.show-dropzone
  width: 100%
  .dz-preview
    min-height: auto
    margin: 6px
    .dz-image
      border-radius: 8px
      overflow: hidden
      width: 66px
      height: 66px
      position: relative
      display: block
      z-index: 10
    .dz-error-message
      display: none
    .dz-details
      padding: 10px 5px
      .dz-size
        margin-bottom: 5px
        font-size: 8px
      .dz-filename
        font-size: 8px

.document-preview
  min-height: auto
  margin: 6px 5px 6px 0px
  display: inline-block
  overflow: hidden
  .document-image
    background: #999
    border-radius: 8px
    overflow: hidden
    width: 66px
    height: 66px
    position: relative
    display: block
    z-index: 10
    img
      display: block
      position: absolute
      max-height: 100%
      top: 50%
      left: 50%
      +transform(translateX(-50%) translateY(-50%))
  .dz-filename
    padding: 23px 5px
    font-size: 8px
    white-space: nowrap
    text-align: center
    span
      display: inline-block
      border: 1px solid transparent
      background-color: rgba(255, 255, 255, 0.4)
      overflow: hidden
      text-overflow: ellipsis
      padding: 0 0.4em
      border-radius: 3px
      max-width: 100%


.img-modal
  max-width: 900px
  img
    max-width: 100%
