body
  font-family: "PT Sans regular"

fieldset
  border: none
  margin: 0
  padding: 0

input[type=radio]
  margin-right: 8px

.main-container
  margin-bottom: 40px
  .main
    padding-top: 50px
    .main-col
      text-align: center
      margin-right: 5px
      margin-bottom: 5px
      color: white
      min-height: 570px
      min-width: 234px
      font-size: 15px
      h2
        text-transform: uppercase
      &:nth-child(1)
        background-color: #4cc3eb
        h2
          background-color: #13a2d4
      &:nth-child(2)
        background-color: #5acb91
        h2
          background-color: #30b872
      &:nth-child(3)
        background-color: #fba848
        h2
          background-color: #ff8226
      &:nth-child(4)
        background-color: #f17398
        h2
          background-color: #ea4173
      &:nth-child(5)
        background-color: #5acbb7
        h2
          background-color: #34b29c
      &:nth-child(6)
        background-color: #9a71f8
        h2
          background-color: #7757c1
      &:nth-child(7)
        background-color: #ff7676
        h2
          background-color: #ff4747
      &:nth-child(8)
        background-color: #ff7b5d
        h2
          background-color: #fd623f
      h2
        margin-top: 0
        height: 84px
        padding-top: 15px
        text-align: center
      ul
        list-style-type: none
        padding-left: 0
        li
          margin: 15px 0px
          font-size: 18px
          a
            color: white
            text-decoration: none
            &:hover
              color: white
              text-decoration: underline
