// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contact-cont
  h2
    text-align: center !important
  .col-modal
    display: block !important
    margin: 0 auto !important
    float: none !important
    button
      margin-left: 0px !important
  .action
    text-align: center !important
  textarea
    width: 100% !important
    max-width: 100% !important
