.profile
  line-height: 31px
  .profile-heading
    padding-top: 40px
  ul
    margin-top: 0
    margin-bottom: 0
    padding-left: 0
    li.active
      a
        border-bottom: 2px solid black
    li
      display: inline
      padding-right: 40px
      a
        color: black
        text-decoration: none
        display: inline-block
        padding-top: 10px
        padding-bottom: 12px
        font-size: 20px
        outline: none
  .request-item
    p
      span:first-child
        color: grey
  .request-item-options
    text-align: left
  .request-item-address
    text-align: left
    padding-top: 64px
    padding-right: 10px
  .request-item-ship-options
    text-align: left
