.set-container
  background-color: $req-grey
  min-width: 960px
  .set-request
    .req-field
      select
        padding-right: 28px !important
      float: left
      margin-right: 10px
      margin-top: 10px
      label
        font-size: 12px
        padding-bottom: 4px
        display: block
      input[type="text"]
        border-radius: 4px
        border: 1px solid #c4c4c4
        height: 29px
        outline: none
      #request-id
        width: 94px
      #request-name
        width: 188px
      #request-date
        width: 135px
      #request-delivery-date
        width: 99px
      #request-open-date
        width: 135px
      #request-open-time
        width: 135px
      #request-price
        width: 84px
      #request-close-date
        width: 135px
      #request-close-time
        width: 135px
      #request-payment-options
        width: 176px
      #request-city-send
        width: 176px
      #request-delivery-options
        width: 135px
      #request-tax
        width: 128px
      #request-nds
        width: 101px
      select
        width: 159px
        @extend select.default
  input.req-field-btn
    float: right
    border: none
    background-color: $main-orange
    border-bottom: 4px solid #e5711b
    border-radius: 4px
    color: #fff
    margin-left: 9px
    height: 40px
    padding-left: 42px
    padding-right: 42px
    margin-top: 18px
    margin-bottom: 20px
    &:hover
      +filter(grayscale(100%))

.request-item-block
  color: #353535
  line-height: 25px
  display: block
  border-bottom: 2px solid #c3c3c3
  &:active
    color: #353535
  &:hover
    background-color: #e9e9e9
  p
    span
      &:first-child
        color: #aeaeae
  .close-time
    margin-top: 0
  .city
    float: left
    margin-top: 3px
  .tax
    float: right
    margin-top: 3px
  .price
    color: $main-orange
    font-size: 30px

.request-item
  min-width: 319px

.request-item-options
  text-align: left

.request-item-address
  text-align: center
  padding-top: 64px

.request-item-ship-options
  text-align: right

.pagination
  margin-top: 40px
  margin-bottom: 70px
  ul
    text-align: center
    list-style: none
    li
      display: inline
    li.pag-item
      padding-bottom: 10px
      padding-top: 12px
      padding-left: 20px
      padding-right: 16px
      background-color: #eee
      border-radius: 4px
      margin-left: 7px
      margin-right: 7px
      &:hover
        background-color: $main-blue
        a
          color: #fff
      a
        display: inline-block
        color: black
        text-decoration: none

.solo-request
  background: #f3f3f3
  min-width: 960px

  .minimal-price,
  .start-price
    span:first-child
      display: block
      padding-bottom: 10px
      padding-top: 30px
  .start-price
    span.price
      background-color: $main-blue
  .minimal-price
    span.price
      background-color: $main-orange
  .price
    padding: 7px
    padding-right: 24px
    padding-left: 13px
    border-radius: 4px
    color: white
    display: block
    position: relative
    margin-right: 0
    float: right
    margin-left: 100%
    &:before
      position: absolute
      content: ""
      height: 0px
      top: 0
      right: 0
      border-left: 54px solid transparent
      border-right: 19px solid #f3f3f3
      border-top: 18px solid transparent
      border-bottom: 17px solid transparent
    &:first-child
      background-color: $main-blue
    &:last-child
      background-color: $main-orange
  .request-item.request-item-timings
    p
      span
        &:first-child
          color: #aeaeae
  .request-solo-item-options
    padding-left: 10%
    line-height: 14px
    padding-top: 72px

.request-bet
  border-bottom: 1px solid #c3c3c3
  &:hover
    background-color: #f3f3f3
  .col-12
    text-align: center
  div.price
    text-align: right
    padding-top: 28px
    font-size: 26px
    color: $main-orange
  div.time
    color: #c4c4c4
    padding-top: 12px
  div.name
    h2
      margin-top: 2px

.to-all-req
  float: right
  color: $main-blue
  margin-top: 20px
  margin-bottom: 60px

//  modal
.login-remodal
  width: 430px !important
  .col-modal
    width: 100% !important

.exp-search-form
  position: relative
  text-align: left
  label
    display: block
  .form-cover
    position: absolute
    width: 100%
    height: 509px
    top: 0
    left: 0
    bottom: 0
    right: 0
    background: #fff
    opacity: 0.7
    display: none
    z-index: 1000


.exp-search-form
  select.default
    margin-bottom: 18px
  h5
    font-weight: 300
    margin-bottom: 0
  .col-modal
    float: left
    width: 50%
    padding-right: 20px
    padding-left: 10px
  .col-modal.payment-block
    text-align: center
    width: 50%
    padding-top: 10px
    padding-bottom: 20px
    ol
      padding-left: 10%
      padding-right: 10%
      input
        display: block
        margin: 0 auto
        cursor: pointer
  .col-modal.provider-block
    width: 100%
  .payment-block-item
    float: left
    width: 33.3%
  .tax-block-item,
  .ship-block-item
    width: 50%
  textarea
    height: 99px !important
    margin-top: 0px !important
    margin-bottom: 14.21875px !important
    max-width: 285px
  input[type="text"],
  input[type="password"],
  textarea
    +appearance(none)
    +transition(border-color 0.15s linear, background 0.15s linear)
    +box-sizing(border-box)
    border-radius: 0
    background-color: #FFFFFF
    border-style: solid
    border-width: 1px
    border-color: #cccccc
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1)
    color: rgba(0, 0, 0, 0.75)
    display: block
    font-family: inherit
    font-size: 0.77778rem
    height: 2.05556rem
    margin: 0 0 0.88889rem 0
    padding: 0.44444rem
    width: 100%
    outline: none

.exp-search-btn-block
  width: 100%
  float: left
  text-align: center


.add-price-cont
  text-align: center
  margin-bottom: 10px
  form#add_minimum_price
    width: 310px
    button
      margin-top: 10px
  p
    display: inline-block
    margin: 0
  input
    vertical-align: baseline
  button
    vertical-align: middle
  form,a,button
    display: inline-block
    vertical-align: top


.bids-cont
  min-height: 160px

#request_payment_desc
  display: none
  &.show
    display: block

.category-header
  margin: 7px 0px

.modal-list a
  color: #000

.closed-cont
  h1
    color: red
    text-align: center

.attach-icon
  width: 20px
  margin-left: 5px
  margin-bottom: 12px
