-categories.each do |cat|
  .category-item.col-12
    -leaves = cat.children
    -if leaves.to_a.empty?
      div.category-item-heading
       =link_to requests_category_path(cat)
         =cat.name

    -else
      div.category-item-heading =cat.name
      div.exp-content
        ul
          -leaves.each do |cat|
            li
              =link_to requests_category_path(cat)
                | - #{cat.name}
