== render 'partials/header'
.breadcrumbs
  .container
    ul
      li
        a href="#"
          = @category.root.name
      li
        a href="#"
          = @category.name
.category-block
  .container
    .main-heading
      h1 = @category.name
    .col-12
      =render 'categories/internal_category', :categories => @category.children




== render 'partials/footer'
