<%= image_tag('black-logo.png') %>
<p>Восстановление пароля с Цена Спроса</p>

<p>Для того чтобы перейти в форму восстановление пароля перейдите по ссылке:</p>

<p><%= link_to 'Восстановление пароля', edit_password_url(@resource, reset_password_token: @token) %></p>
