doctype html
html
  head
    = favicon_link_tag 'favicon.ico'
    meta charset="utf-8"
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
    / meta name="viewport" content="width=device-width, initial-scale=1"
    / meta name="viewport" content="initial-scale=1.0, user-scalable=no"
    meta name="bitus" content="c8e2afc67d5b78e59f6aea163ed885ab"
    script src="http://html5shim.googlecode.com/svn/trunk/html5.js"
    script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    = csrf_meta_tags

  body class= controller.controller_name
    = yield
    .modal-container

    /! Yandex.Metrika counter

    javascript:
      (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
      try {
      w.yaCounter31626923 = new Ya.Metrika({id:31626923,
      webvisor:true,
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true});
      } catch(e) { }
      });
      var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
      if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
      })(document, window, "yandex_metrika_callbacks");



    /! /Yandex.Metrika counter
